body {
    background-image: url("F3.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: auto auto;
}
img { 
    max-width: 100%; 
    max-height: 100%; 
} 
.center-img {
    text-align: center;
}
a.nubex {
	color: black;
	user-select: none;
	text-decoration: none;
	outline: none;
    padding: 1em 2em; 
	}
	
h1 { 
    font-size: 50px; 
    margin-top: 30px; 
    margin-bottom: 20px;
    text-align: center;
} 
h2 { 
    margin-top: 40px; 
    margin-bottom: 20px; 
} 

p { 
    font-size: 20px;
    font-weight: 600;
} 
p.a {
    font-size: 20px;
    font-weight: 600;
    text-align: right;
}
p.a1 {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}
.p1 {
    font-size: 28px;
}
.p2{
    font-size: 20px;
}
ul {
    font-size: 20px;  
    font-weight: 600;
}
td {
    font-weight: 600;
    font-size: 20px;
}
th {
    font-weight: 800;
    font-size: 28px;
}
.bord {
    margin-right: 10px;
    margin-bottom: 20px;
}
.text {
    font-size: 15px;
}
